{{page-title "JsonUtils"}}
{{top-bar}}
<div class="main-panel">
      <div class="content-wrapper scroll-textarea">
        <div class="row m-auto">
          <div class="col-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="forms-sample">
                  <div class="form-group">
                    <label for="inputJson">Input</label>
                    <textarea class="form-control text-white scroll-textarea force-overflow" id="inputJson" rows="30" value={{this.stringList}} placeholder={{this.placeHolder}}></textarea>
                  </div>
                  <button class="btn btn-primary mr-2" onClick={{action "submitForFormat"}} type="button">Format</button>
                  <button class="btn btn-dark" onClick={{action "clear"}} type="button">Clear</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <form class="forms-sample">
                  <div class="form-group">
                    <label for="sortedList">Output</label>
                    <pre class="form-control text-white height-em-31 line-height-1"  id="outputJson"></pre>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
{{outlet}}